---
import ContactCard from "./ContactCard.astro";
import ghWhite from "../images/github-white.png"
import mediumWhite from "../images/medium-white.png"
import liWhite from "../images/li-white.png"
import mailWhite from "../images/mail-white.png"

const ghLink = "https://github.com/J5Wood"
const liLink = "https://www.linkedin.com/in/jeremyw00d"
const mediumLink = "http://jwood206.medium.com/"
const mailLink = "mailto:js.wood206@gmail.com"
---

<div id="contact-section" class="contacts-container">
  <h2 class="contact-header">Contact Me</h2>
  <div class="contact-card-wrapper"><ContactCard image={liWhite} link={liLink}/></div>
  <div class="contact-card-wrapper"><ContactCard image={ghWhite} link={ghLink}/></div>
  <div class="contact-card-wrapper"><ContactCard image={mediumWhite} link={mediumLink}/></div>
  <div class="contact-card-wrapper"><ContactCard image={mailWhite} link={mailLink}/></div>
</div>
<style>
  .contacts-container {
    height: 70vh;
    display: grid;
    grid-template:  14% 28% 56% 2%/ 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .contact-header {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: all 1s ease-in;
    backface-visibility: hidden;
  }

  .contact-card-wrapper {
    width: 100%;
    height: 100%;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: all 1.2s ease-out;
    backface-visibility: hidden;
  }

  .pop-in {
    transform: rotateY(0deg);
  }

  .pop-first {
    transition-delay: 0.2s;
  }

  .pop-second {
    transition-delay: 0.4s;
  }

  .pop-third {
    transition-delay: 0.6s;
  }

  .pop-fourth {
    transition-delay: 0.8s;
  }
</style>
<script>
  window.addEventListener("onLoad", animateIn);
  window.addEventListener("scroll", animateIn);

  const contactElements = document.querySelector(
    ".contacts-container"
  ).children;
  const contactsPos = contactElements[0].offsetTop;

  function animateIn() {
    let windowPos = window.scrollY;
    if (windowPos > contactsPos - 500) {
      contactElements[0].classList.add("pop-in");
      contactElements[1].classList.add("pop-in", "pop-first");
      contactElements[2].classList.add("pop-in", "pop-second");
      contactElements[3].classList.add("pop-in", "pop-third");
      contactElements[4].classList.add("pop-in", "pop-fourth");
    }
  }
</script>
